<li class='c-nav__item'>
  <a href='https://mehfa.org/' class='c-nav__link'>Home</a>
  </li>
<li class='c-nav__item'>

    <a href='https://mehfa.org/about/' class='c-nav__link'>About</a>
    </li>

    <li class='c-nav__item'>

  <a href='https://mehfa.org/partners/' class='c-nav__link'>Partners</a>
  </li>

  <li class='c-nav__item'>

  <a href='https://mehfa.org/blog/' class='c-nav__link'>Blog</a>
</li>

{% for page in site.pages %}
  {% unless page.name == '404.md' %}
    {% if page.title %}
      <li class='c-nav__item'>
        <a href='{{ page.url | prepend: site.baseurl }}' class='c-nav__link'>{{ page.title }}</a>
      </li>
    {% endif %}
  {% endunless %}
{% endfor %}